*.out
*.test
main/
todo.txt
capt.txt
bench/bench
gpeg
!cmd/gpeg
*.pdf
*.java
/flare/flare
*.svg
*.dat
*.so
/benchmarks/apply
/benchmarks/apply_gpeg
/benchmarks/fullparse
/benchmarks/reparse
/bench/bench
testdata/*
!testdata/ScriptRuntime.java
!testdata/bible.txt
!testdata/test.java
!testdata/test.json
